.App {
  background-color: #00008f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: darkorange;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #00008f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: darkorange;
}

.App-form {
  background-color: darkorange;
  min-height: 40vh;
  min-width: 160vh;
  display: flex;
  border-radius: 16px 16px 0px 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: #00008f;
}

.App-input {
  background-color: #61dafb;
  color: #8f0058;
  text-align: center;
  display: block;
  font-size: calc(10px + 2vmin);
  border-radius: 50px;
  height: 32px;
  width: 240px;
  text-align-last: justify;
}

.App-box {
  background-color: lightblue;
  min-height: 80vh;
  min-width: 160vh;
  display: flex;
  border-radius: 0px 0px 16px 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(18px + 2vmin);
  color: #8f0058;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-button {
  background-color: #61dafb;
  color: #00008f;
  text-align: center;
  font-size: 30px;
  border-radius: 50px;
  height: 60px;
  width: 240px;
}

.App-toggle {
  background-color: #61dafb;
  color: #00008f;
  text-align: center;
  font-size: calc(10px + 2vmin);
  border-radius: 50px;
  height: 32px;
  width: auto;
  text-align-last: justify;
}
